*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.text-primary{
    color: #FD6E0A;
}

.dark-2 {
    color: #474747
}

.btn-primary{
    background-color: #FD6E0A;
    padding: 13px 25px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}
/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
    background-color: #FFF8F3;
    height: 837px;
    width: 100vw;
    position: relative;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 280px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul li{
    list-style-type: none;
    margin-left: 39px;
}
nav li a{
    text-decoration: none;
}
nav ul {
    display: flex;
    align-items: center;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position: absolute;
    bottom: 0;
    right: 35px;
    left: 230px;
}
.banner-content{
    max-width: 580px;
    margin-bottom: 45px;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 20px;
}
.banner-title{
    font-weight: 800;
    font-size: 85px;
    padding-bottom: 20px;
}
.banner-profile-pic{
    width: 580px;   
}
.banner-btn{
    margin-top: 49px;
}
.banner-description{
    font-size: 1.1rem;
    color: #757575;
}
.banner-btn2{
    margin-left: 30px;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-weight: 700;
}